body {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
}

.routes {
  position: absolute;
  top: 50%;
  right: 5px;
  z-index: 100;
  & ul {
    list-style: none;
  }
  
  // .routes__link

  &__link {
    font-size: 16px;
  }
}
