body {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
}

.routes {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100;
  
  // .routes__link

  &__link {
    font-size: 14px;
  }
}
