.chat-box{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-top:  1px solid #EAEAEA;;
  border-bottom:  1px solid #EAEAEA;
    &-item {
      display: flex;
      height: 70px;
      box-sizing: border-box;
      border-top:  1px solid #EAEAEA;;
      border-bottom:  1px solid #EAEAEA;
    }

    // .chat__left-side

    &__left-side {
      min-width: 310px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }

    // .chat__avatar

    &__avatar {
      overflow: hidden;
      margin: 12px 10px;
      width: 55px;
      height: 47px;
      border-radius: 50%;
      background-color: #EFEFEF;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 47px;
        height: 47px;
        border-radius: 30px;
        background-color: #25093D;
        box-sizing: border-box;
        height: 100%;
        display: block;
      }
    }

    // .chat__content

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    // .chat__header

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 12px 0 0px;
    }

    // .chat__name

    &__name {
      margin: 0;
      color: #985ACE;
    }

    // .chat__time

    &__time {
      color: #999999;
      font-size: 12px;
      padding-right: 5px;

    }

    // .chat__message

    &__message {
      margin: 0;
      display: flex;
      justify-content: space-between;
      color: #25093D;
    }

    // .chat__under

    &__under {
      margin: 0;
      color: #25093D;
    }

    // .chat__unread

    &__unread {
      margin: 0;
      margin-right: 5px;
      background-color: #985ACE;
      width: 20px;
      height: 20px;
      align-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    //.chat__unread-count

    &__unread-count {
    }

}
.left-side {

    // .left-side__header

    &__header {
      text-align: end;
      margin-right: 5px;
      margin-bottom: 20px;
      color: #985ACE;
    }

    // .left-side__search

    &__search {
      padding: 0 10px;
      margin-bottom: 14px;
     
      & input {
        text-align: center;
        background-color: #EFEFEF;
        border: none;
        height: 32px;
        border-radius: 5px;
      }
    }
}

.search {
  width: 290px;
  box-sizing: border-box;
}

.chat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.unread {

    // .unread_count

    &_count {

    }
}
.content {
    background-color: #D1BBDC;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // .content__no-data

    &__no-data {
    }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // .content__header

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
  }

  // .content__messages

  &__messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: end;
  }

  // .content__form

  &__form {
  }

  // .content__no-data

  &__no-data {
  }
}

.profile-chat {
  display: flex;
  justify-content: center;
  align-items: center;

  // .profile-chat__avatar

  &__avatar {
    background-color: #25093D;
    margin-left: 20px;
    width: 34px;
    height: 34px;
    left: 415px;
    border-radius: 50%;
    overflow: hidden;
  }

  // .profile-chat__title

  &__title {
    margin-left: 15px;
  }
}

.hr-line {
  margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
  margin-right: 30px;
  width: 100%;
	border-top: 1px solid red;
  margin: 0;
  display: block
}

.hr-line {
  width: 100%;
  background-color: #25093D;
  margin: 0;
  & hr {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    margin-right: 30px;
    border-top: 1px solid red;
    margin: 0;
    width: 100%;
    display: block
  }
}

.content__no-data {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
