.main {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  height: 100vh;
}

.chat {
  display: flex;
  height: 70px;

    // .chat__left-side

    &__left-side {
      min-width: 310px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }

    // .chat__content

    &__content {
      display: flex;
      flex-direction: column;
    }

    // .chat__header

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

    }

    // .chat__name

    &__name {
      margin: 0;
    }

    // .chat__time

    &__time {
    }

    // .chat__message

    &__message {
      display: flex;
      margin: 0;
    }

    // .chat__under

    &__under {
      margin: 0;
    }

    // .chat__unread

    &__unread {
      margin: 0;
    }
}
.left-side {

    // .left-side__header

    &__header {
      text-align: end;
      margin-right: 5px;
    }

    // .left-side__search

    &__search {
      text-align: center;
     
    }
}
.search {
  width: 290px;
  box-sizing: border-box;
}
.chat-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.avatar {
}
.unread {

    // .unread_count

    &_count {
    }
}
.content {
    background-color: #D1BBDC;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // .content__no-data

    &__no-data {
    }
}
