@use '../../../static/color-variables.scss' as var;

.wrapper-error {
  background-color: var.$bg-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    // .error__status

    &__status {
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 20px;
      color: var.$bg-accent-two;
    }

    // .error__text

    &__text {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: var.$bg-accent-two;
    }

    // .error__link

    &__link {
      margin-top: 70px;
      text-decoration: none;
      color: var.$bg-accent-one;
    }
}
