@use '../../../static/color-variables.scss' as var;

.button {
  border: none;
  box-sizing: border-box;
  width: 273px;
  height: 40px;
  border-radius: 7px;
  font-size: 14px;
  color: var.$white;
  background-color: var.$bg-accent-one;
  
  &_secondery {
    background-color: var.$bg-accent-two;
  }
}
