@use '../../../../static/color-variables.scss' as var;

.button-profile {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  background: none;
  border: none;
  color: var.$bg-accent-one;
  
  &_secondery {
    color: var.$error-color;
  }
}
